.logo{
    width: 0em;
    transform: scale(.9);
}
.app-link{
    padding: 1em;
    color: white;
}
.trending-poster{
    width: 30em;
    height: 20em;
}
.trending-number{
    position: relative;
    /* height: 50em;
    width: 10em; */
}
.trending-number .number{
    font-size: 20em;
    white-space: nowrap;
    position: absolute;
    top: 0;
}
img.poster-img{
    width: 100%;
    height: 80%;
    border-radius: .7em;
    box-shadow: 0em 1em .6em 0em rgba(0, 0, 0, 0.312);
}
.poster-card{
    margin-top: 1.3em;
    height: 24em;
    width: 12em;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 1.3em;
    transition: all .3s;
    margin: 0;
    padding-bottom: 2em;
}

.poster-rating{
    font-size: .8em;
    margin: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poster-rating > p{
    color: var(--app-color-dark-2);
}
.poster-rating > p:last-child{
    display: flex;
    align-items: center;
}
.poster-rating > p > span{
    height: 1.2em;
    width: 1.2em;
    color: var(--app-gold);
}
.poster-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}
.poster-play{
    border-radius: 100%;
    background-color: white;
    width: 3em;
    height: 3em;
    display: grid;
    place-items: center;
    border: solid 2px var(--app-color);
}
.poster-title{
    font-size: .7em;
    margin: 0em;
    color: white;
    text-overflow: ellipsis;
}
.poster-details-title{
    font-size: .7em;
    margin: 0;
}
.poster-details-data{
    font-size: .7em;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0;
    /* margin-bottom: .5em; */
}


.poster-card:hover{
    /* z-index: 1; */
    transform: scale(1.1);
    cursor: pointer;
}

.section-heading{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    /* padding: .5em; */
    align-items: center;
    border-bottom: solid 2px var(--app-color-dark-2);
    /* padding-bottom: 0em; */
    margin-bottom: 1em;

}
.section-title, .section-nav{
    align-items: center;
    position: relative;
    transition: all .3s;
    padding-left: 0;
    color: var(--app-color-dark-2);
    font-size: .8em;
}
.section-title, .section-nav:focus{
    outline: none;
    box-shadow: none;
}
.section-nav:hover{
    transform: scale(1.2);
    color: white;
}
.section-title, .section-nav.active{
    font-size: 1em;
    color: white;
}
.section-title::after, .section-nav.active::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0em;
    /* left: 0%; */
    right: 30%;
    width: 2em;
    height: .2em;
    bottom: -0.1em;
    border-radius: 1em;
    background-color: var(--app-color);
}
.section-title::before{
    content: '';
    display: block;
    position: absolute;
    top: 1.3em;
    left: 8em;
    /* right: 30%; */
    width: 61vw;
    height: .2em;
    bottom: -0.1em;
    border-radius: 1em;
    background-color: var(--app-color);
}
svg.section-nav-icon{
    width: 1.5em;
    height: 1.5em;
    transform: scale(1.1);
}
.genres{
    /* margin-top: 2em; */
    display: flex;
    /* justify-content: space-between; */
    gap: 1em;
    /* background-color: yellow; */
    /* padding: 0em !important; */
    overflow-x: auto;
    /* font-size: .8em; */
}
.genre-btn{
    border: none;
    border-radius: 4em;
    background-color: var(--app-color-dark-2);
    min-width: 6em;
    height: 2.5em;
    font-size: .8em;
    transition: all .5s;
}
button.genre-btn:focus{
    outline: none;
}
.genre-btn:hover{
    background-color: var(--app-color);
    color: white;
}
.genre-btn.active{
    background-color: var(--app-color);
    color: white;
}

.movieBackDrop{
    width: 30em;
    height: 18em;
    /* border-radius: .4em; */

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    transition: all .3s;
    cursor: pointer;
}
.movieBackDrop:hover .movieBackDrop-color{
    transform: scale(1) translateX(0px);
}
.movieBackDrop-color{
    background-color: rgba(0, 0, 0, 0.653);
    height: 100%;
    /* backdrop-filter: blur(.1em); */
    /* border-radius: .4em; */
    transform: scale(0) translateX(20em);
    transition: all .3s;
    border-left: solid 5px var(--app-color);
}
.movieBackDrop-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    padding: 1em;
}
.movieBackDrop-title{
    margin: 0;
    margin-bottom: .5em;
    text-overflow: ellipsis !important;
    overflow-y: hidden;
    font-size: 1.3em;
    max-height: 3em;}
.movieBackDrop-body .data {
    font-size: .8em;
}
.movieBackDrop-body .data span{
    color: var(--app-color);
}
.movieBackDrop-play-btn{
    background-color: var(--app-color);
    border: none;
    border-radius: 5em;
    /* padding: 1em .8em 1.3em .8em !important; */
    width: 10em;
    padding-top: .5em !important;
    padding-bottom: .5em !important;
    color: white;
    transition: all .3s;
}
.movieBackDrop-play-btn:hover{
    background-color: rgb(71, 149, 11);
    color: white;
}
.movieLatest{
    margin: 1em;
    box-shadow: 0em 0em .5em .1em rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.movieLatest-btn{
    border-radius: 4em !important;
    padding-left: 0 !important;
    padding-right: 0em !important;

    width: 9em !important;
}
.movieLatest-color{
    background: linear-gradient(200deg, transparent, rgb(0, 0, 0), rgba(0, 0, 0, 0.764));
    /* backdrop-filter: blur(.2em); */
    /* min-height: 50vh; */
    padding: 0em 2em !important;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.movieLatest-poster{
    border-radius: 1em;
    height: 22em;
    width: 14em !important;
    margin-bottom: 2em;
    box-shadow: 0em .5em .5em .1em rgb(0, 0, 0);
}
.movieLatest-title{
    font-size: 1.5em;
}
@media screen and (max-width: 360px) {
    /* .poster-card{
        height: 16em !important;
        width: 7em !important;
    } */
    .poster-card{
        height: 85vw !important;
        width: 43vw !important;
    }
    .movieBackDrop{
        width: 80vw !important;
        height: 50vw !important;
    }
    .movieBackDrop-play-btn{
        /* padding: em; */
        /* height: 1.7em; */
        /* width: 8em; */
        color: white;
        font-size: small;
        transition: all .3s;

        /* margin-top: 5em !important; */
    }
    .movieLatest{
        margin: 0em;
    }
    .movieLatest-title{
        font-size: 1.5em !important;
    }
    .movieLatest-about{
        font-size: .8em;
        margin-top: 1em;
    }
    .movieLatest-poster{
        display: none !important;
    }
}
.circle-avatar-img{
    border-radius: 100%;
    width: 4vh !important;
    height: 4vh;
    background-color: green;
    border: solid 3px white;
}
.avatars{
    margin: 1em 0em 4em 0em;
    position: relative;
}
.avatars .circle-avatar-img{
    position: absolute;
}
@media screen and (max-width: 580px) and (min-width: 361px) {  
    .circle-avatar-img{
        width: 5vh !important;
        height: 5vh;
    }
    .avatars{
        margin: 1em 0em 3em 0em;
    }
    .movieLatest{
        margin: 0em;
    }
    .movieLatest-poster{
        display: none !important;
    }
    .movieLatest-title{
        /* font-size: 1.5em !important; */
    }
    .movieBackDrop-play-btn{
        padding: 1em;
        /* width: 8em; */
        color: white;
        font-size: small;
        transition: all .3s;
    }
    .movieLatest-about{
        font-size: .8em;
        margin-top: 1em;
    }
    .movieBackDrop{
        width: 80vw !important;
        height: 50vw !important;
    }

    .poster-card{
        height: 60vw !important;
        width: 26vw !important;
    }

    .poster-rating{
        font-size: .7em;
        margin: 0em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .poster-rating > p > span{
        width: 1.2em;
        font-size: .8em;
    }
    .play-btn-2{
        background-color: var(--app-color);
        /* width: 3em;
        height: 3em; */
        padding: 0em 0em 0em 0em;
        /* border-radius: 100%; */
    }
    svg.section-nav-icon{
        width: 1.5em;
        height: 1.5em;
        transform: scale(1);
    }
    .section-nav.active{
        transform: scale(1);
    }
    /* .play-btn-2 small{
        display: none;
    } */
    .poster-details{
        bottom: 0em;
    }
    .genre-btn{
        min-width: 6em;
        /* height: 2em; */
        font-size: .7em;
    }
}

@media screen and (max-width: 990px) {
    .poster-card{
        height: 23em;
        width: 12em;
    }
    img.movieLatest-poster{
        height: 20em;
        width: 12em !important;
    }
}
@media screen and (max-width: 1200px) {
    .poster-card{
        height: 23em;
        width: 12em;
    }
}
@media screen and (max-width: 1300px) {
    .poster-card{
        height: 30em;
        width: 20em;
    }
}

/* @media screen and (max-width: 800px) {
    .poster-card{
        height: 23em;
        width: 12em;
    }
} */