
.carousel-root{
    max-width: 100% !important;
}
.home{
    max-width: 100vw;
}
body{
    overflow-x: hidden;
}
.banner{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: start !important;
}
.banner-color{
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background: linear-gradient(250deg, transparent, rgba(0, 0, 0, 0.923), rgba(0, 0, 0, 0.948));
    /* background: rgba(0, 0, 0, 0.33); */
    /* backdrop-filter: blur(.1em); */
}
.banner-content{
    min-height: 100vh;
    padding: 5em 0 0 0;
    /* background-color: green; */
}

.movie-banner-heading{
    border-left: solid 3px var(--app-color);
    padding-left: .5em;
    color: white;
    font-size: 1.2em;
    font-family: spaceBold;
}
.movie-banner-title{
    color: white;
    font-size: 4em;
    text-overflow: clip !important;
    margin: .6em 0em;

    background: url(../../../assets/images/texure.jpg);
	background-repeat: repeat-x;
	background-position: 100% 100%;
	color: transparent;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing:-2px;

    font-family: spaceBold;
}
.rating{
    display: flex;
    gap: .5em;
    align-items: center;
}
.rating .pg{
    border: solid 2px white;
    padding: .3em .8em;
    border-radius: .3em;
    font-size: 1em;
}.rating span{
    padding: 0em;
    font-size: 1em;
}
.movie-about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.5em 0em;
}
.banner-details{
    /* background-color: green;
    padding: 0 !important;
    height: max-content; */
    /* margin: 1em; */
    gap: 1em;
    display: flex;

}
.banner-data{
    margin: .5em 0em!important;
}
.banner-cast{
    display: flex;
    /* position: relative;x */
    /* max-width: 40em; */
    height: 4em;
}
.banner-cast-image{
    width: 5vw !important;
    /* height: 5vh; */
    transition: all .3s;
    font-size: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    /* transform: scale(1.2); */
}
/* .banner-cast-image span{
    text-overflow: ellipsis !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 12vh !important;
} */
.banner-cast-image img{
    width: 12vh !important;
    height: 8vh;
    /* border-radius: .4em; */
    transition: all .3s;
    cursor: pointer;
    /* transform: scale(1.2); */
}
/* .banner-cast .banner-cast-image:hover img{
    transform: scale(1.2);
    box-shadow: 0em .0em .5em .1em rgb(34, 34, 34);
    cursor: pointer;
} */
@media screen and (max-width: 580px) {   
    .banner-cast-image{
        width: 22vw !important;
    }
    .banner-cast-image span{
        width: 22vw !important;
    }
    .banner-content{
        /* min-height: 100vh !important; */
        padding-top: 5em;
    }
    .banner-data{
        font-size: .7em;
    }
    /* .home{
        max-width: 100vw !important;
    } */
    .movie-banner-title{
        font-size: 2em;
    }
    .movie-banner-content{
        padding-top: 7em !important;
    }
    .movie-banner-heading{
        font-size: .8em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width: 990px) {
    .banner-content{
        /* min-height: 100vh !important; */
        /* padding: 5em 0 0 0; */
    }
}
